 #main-container {
    font-family: monospace;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0, 0.6)),
        url("../images/HomePageCover.jpg");
    background-position: bottom;
    background-size: cover;
    height: 100vh;
    position: absolute;
    top:0;
  }
  
  
#links a {
    color: white;
    border: white solid;
    text-decoration: none;
    padding: 10px;
    cursor: pointer; 
    font-family: 'Montserrat', 'sans-serif';
  }

  #links {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
  }

  #name {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
  }
  
  .letter {
    font-size: 200px;
    line-height: 110px;
    font-family: 'Open Sans', 'sans-serif';
    font-weight: bold;
    letter-spacing: -20px;
    position: relative;
    transition: top ease 0.1s;
    transition-delay: 2s;
    opacity: 0.9;
  }
  
  #h {
    color: white;
  }
  
  #e {
    color: white;
  }
  
  #l {
    color: white;
  }
  
  #l {
    color: white;
  }
  
  #o {
    color: white;
  }
  
  #i {
    color: white;
  }
  
  #apos {
    color: white;
  }
  
  #m {
    color: white;
  }
  
  #a {
    color: white;
  }
  
  #n {
    color: white;  
  }

  #a {
    color: white;
  }

  #i {
    color: white;
  }

  #s {
    color: white;
  }
  
  @keyframes mymove {
      0% {
        top: 0px;
      }
      50% {
        top: 50px;
      }
      100% {
        top: 0px;
    }
  }
   
  .hovered {
    animation: mymove 3s;
  }
  
  h3 {
    padding: 30px;
    text-align: center;
    font-family: 'Barriecito', cursive;
    font-size: 22px;
    text-transform: uppercase;
    color: white;
  } 