.App {
  text-align: center;
}

* {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
}

img {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background-image: linear-gradient(##00bf8f, ##001510);
}

button {
  border-radius: 12%;
  padding: 20px;
  background-color: white;
  color: black;
  font-weight: bold;
  font-size: 26px;
  text-transform: uppercase;
  text-align: center;
}
/*
@keyframes button {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
